* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  --color-text: rgb(19, 85, 139);
}
body {
  font-family: "Titillium Web", sans-serif;
}
li {
  list-style: none;
}
a {
  color: var(--color-text);
  font-size: 18px;
  text-decoration: none;
  display: block;
}
.container {
  padding: 6rem 2rem;
  max-width: 1100px;
}

header {
  width: 90%;
  min-height: 92px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
ul {
  display: flex;
}
.logo a {
  font-size: 32px;
  color: var(--color-text);
  font-weight: 600;
}
nav a {
  margin-inline: 5px;
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
  font-weight: 600;
}
nav a::after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: var(--color-text);
  position: absolute;
  left: -100%;
  bottom: 0;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
nav a:hover::after {
  left: 0;
}
nav i {
  display: block;
  color: var(--color-text);
  font-size: 20px;
  cursor: pointer;
}
@media (min-width: 768px) {
  nav .wrong {
    display: none;
  }
}
@media (max-width: 768px) {
  nav .fa-list {
    display: block !important;
  }
  nav ul {
    display: none;
    /* position: absolute; */
    z-index: 3;
    left: 0;
    bottom: calc(-100% + -50%);
    width: 100%;
  }

  nav .wrong {
    position: absolute;
    right: -7px;
    top: -7px;
    color: red;

    cursor: pointer;
  }

  nav ul a {
    margin-bottom: 10px;
  }
}
.heading {
  max-width: 100%;
  height: calc(100vh - 95px);
  /* background-color: red; */
  overflow: hidden;
}
.heading img {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: -2;
}
.heading .imc {
  position: absolute;
  left: 0;
  top: 25%;
  background-color: white;
  color: rgb(19, 85, 139);
  padding: 20px 30px 20px 60px;
}
@media (max-width: 425px) {
  .heading .imc {
    width: 100%;
    padding: 20px;
  }
}
.heading .imc span {
  display: block;
  font-size: 120px;
  font-weight: bold;
  letter-spacing: 15px;
}
.heading .imc p {
  font-size: 20px;
  font-weight: bold;
}

/* overview */
.overview {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  gap: 2rem;
  margin-block: 60px;
  margin: auto;
}

.overview .box:nth-child(1) {
  display: flex;
  justify-content: center;
  max-width: 50%;
  flex-direction: column;
  max-width: 30rem;
}
.overview .box h3 {
  text-transform: uppercase;
  font-size: 3.5rem;
  width: fit-content;
  position: relative;
  margin-bottom: 2rem;
}
.overview .box h3::before {
  content: "OVERVIEW";
  position: absolute;
  top: 6px;
  right: -6px;
  font-size: 0.7rem;
  font-weight: 400;
  letter-spacing: 8px;
}
.overview .box:nth-child(2) {
  max-width: 45%;
  max-height: 715px;
  overflow: hidden;
}
.overview .box img {
  max-width: 100%;
  max-height: 100%;
}

.overview .box p {
  line-height: 1.8;
  text-align: justify;
  font-size: 20px;
}
@media (max-width: 900px) {
  .overview {
    flex-direction: column-reverse;
  }
  .overview .box:nth-child(1) {
    align-items: center;
  }
  .overview .box {
    max-width: 90% !important;
  }
}
@media (max-width: 320px) {
  .overview .box h3 {
    font-size: 2.5rem;
  }
  .overview .box h3::before {
    top: 20px;
  }
}
